# Pastas da Godot
.import/
.godot/
.cache/
.cfg/
.bin/

# Garantir a importação da pasta Cartas
!assents/Cartas

# VSCode
.vscode/

# Arquivos temporários do C#
*.dll
*.exe
*.pdb
*.csproj.user
*.sln.docstates
